streamlit
langchain
langchain-community
openai
faiss-cpu
unstructured
unstructured-inference
pdf2image
pypdf
pdfminer.six
python-docx
openpyxl
networkx
pi-heif
python-magic-bin; platform_system == "Windows"
